@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GC Coffee Shop</h1> <br />
    <p class="lead">
        Click here to register for something. <br /><br />
        <div class="btn btn-lg">@Html.ActionLink("Register", "About", "Home") &raquo;</div>
    </p>
</div>